/* Two Column Layout Container Styles */
.two-column-layout {
    display: flex;
    
  }
  
  /* Left Column Styles */
  .left-column {
    flex: 0 0 300px; /* Fixed width for the left column */
    background-color: #f7fafc; /* Adjust background color as needed */
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    width: 17%;
    color: white;
    overflow-y: auto; /* Enable scrolling if content exceeds the viewport height */
  }
  
  /* Right Column Styles */
  .right-column {
    flex: 1;
    padding: 20px;
    width: 40%;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    color: white;
    margin-left: 300px; /* Match the width of the left column */
    overflow-y: auto; /* Enable scrolling if content exceeds the viewport height */
  }
  